<!--The content below is only a placeholder and can be replaced.-->



<!--
<app-goal></app-goal>
<router-outlet></router-outlet> -->


<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Goal App</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink='/goals' routerLinkActive='active'>Goals</a></li>
        <li><a routerLink='/about' routerLinkActive='active'>About</a></li>

      </ul>

    </div>
  </div>
</nav> -->

<nav class="nav">
<div class="navbar">
   <a routerLink='/goals' routerLinkActive='active'>Goals</a>
</div>
<div class="navbar">
   <a routerLink='/about' routerLinkActive='active'>About</a>
</div>
</nav>

<router-outlet></router-outlet>
